@import 'normalize.css';
@import 'skeleton.css';
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$assetPath: "../../public/images";

:root {
	--icon-external-link: url('data:image/svg+xml,\
	<svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 20 20"> \
		<g style="stroke:rgb(35,82,124);stroke-width:1"> \
			<line x1="5" y1="5" x2="5" y2="14" /> \
			<line x1="14" y1="9" x2="14" y2="14" /> \
			<line x1="5" y1="14" x2="14" y2="14" /> \
			<line x1="5" y1="5" x2="9" y2="5"  /> \
			<line x1="10" y1="2" x2="17" y2="2"  /> \
			<line x1="17" y1="2" x2="17" y2="9" /> \
			<line x1="10" y1="9" x2="17" y2="2" style="stroke-width:1.5" /> \
		</g> \
	</svg>');
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

body {
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1rem;
  background-color:#fafafa;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: rgb(0, 80, 160);
  }
}

$blue: #bee3f8;
$red: #fed7d7;
$green: #c6f6d5;
$dark-ratio: 15;


label + p {
	margin: -0.5rem 0 0.5rem;
}

a[target="_blank"]::after {
	content: '';
	background: no-repeat var(--icon-external-link);
	padding-right: 1em;
}
  

button {
	

  &.green {
    background-color: $green;

    &:hover:enabled {
      background-color: darken($green, $dark-ratio);
    }
  }

  &.red {
    background-color: $red;

    &:hover:enabled {
      background-color: darken($red, $dark-ratio);
    }
  }

  &.blue {
    border: none;
    background: rgba(190, 227, 248, 0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(6px);
    color: darken($blue, $dark-ratio * 2);

    &:hover:enabled {
      background-color: darken($blue, $dark-ratio);
      color: white;
    }
  }

  &.disabled {
    background-color: #edf2f7;
  }

  i {
    padding-right: 20px;
    border-right: solid 3px darken($blue, $dark-ratio * 2);
  }

  &:hover i {
    border-right: solid 3px white;
  }

  &.loading {
    -webkit-animation: pulsate-fwd 0.5s ease-in-out infinite both;
    animation: pulsate-fwd 0.5s ease-in-out infinite both;
  }
}

[disabled] {
	pointer-events: none;
	opacity: 0.4;
}