<svelte:head>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  
</svelte:head>

<script lang="ts">
	import { onMount, onDestroy } from "svelte";
	import { TezosToolkit } from "@taquito/taquito";
	import type {
	ContractAbstraction,
	Wallet,
	ContractProvider
	} from "@taquito/taquito";
	import { BeaconWallet } from "@taquito/beacon-wallet";
	import {
	NetworkType,
	BeaconEvent,
	defaultEventCallbacks
	} from "@airgap/beacon-sdk";
	import {
	LedgerSigner,
	DerivationType,
	HDPathTemplate
	} from "@taquito/ledger-signer";
	import TransportU2F from "@ledgerhq/hw-transport-u2f";
	import MintBox from "./MintBox.svelte";

	import { initializeCollections } from "./collections";
	import store from "./store";

	let collections: Array[] = [];
	let Tezos: TezosToolkit;
	let wallet: BeaconWallet | undefined;
	let userAddress: string;
	let defaultMatrixNode = "matrix.tez.ie";

	let connectedNetwork:
	| "florencenet"
	| "granadanet"
	| "hangzhounet"
	| "mainnet"
	| "custom" = "mainnet";

	let rpcUrl = {
		florencenet: "https://api.tez.ie/rpc/florencenet", //"https://florencenet-tezos.giganode.io",
		granadanet: "https://granadanet.api.tez.ie", //"https://florencenet-tezos.giganode.io",
		hangzhounet: "https://hangzhounet.api.tez.ie", //"https://hangzhounet-tezos.giganode.io",
		mainnet: "https://mainnet.api.tez.ie", //"https://mainnet-tezos.giganode.io"
		custom: "https://hangzhounet.api.tez.ie"
	};
	let initialLoading = true;

	let customNetwork = connectedNetwork;
	let disableDefaultEvents = false;

	let mintCount = 1;
	let mints = [];


	function uploadMintsToIPFS(){
	  console.log('uploadMintsToIPFS')
	}


	const initBeacon = async () => {
		let networkType: NetworkType;
		if (connectedNetwork === "florencenet") {
			networkType = NetworkType.FLORENCENET;
		} else if (connectedNetwork === "granadanet") {
			networkType = NetworkType.GRANADANET;
		} else if (connectedNetwork === "hangzhounet") {
			networkType = NetworkType.HANGZHOUNET;
		} else if (connectedNetwork === "mainnet") {
			networkType = NetworkType.MAINNET;
		} else if (connectedNetwork === "custom") {
			networkType = NetworkType.CUSTOM;
		}

		console.log(connectedNetwork, networkType, defaultMatrixNode);

		const activeAccount = await wallet.client.getActiveAccount();
		console.log("activeAccount:", activeAccount);
		if (activeAccount) {
			// If defined, the user is connected to a wallet.
			// You can now do an operation request, sign request, or send another permission request to switch wallet
			userAddress = activeAccount.address;
		} else {
			await wallet.requestPermissions({
				network: {
					type: networkType,
					rpcUrl: rpcUrl[connectedNetwork]
				}
			});
			userAddress = await wallet.getPKH();
			console.log("New connection:", userAddress);
		}
		store.updateUserAddress(userAddress);
		
		collections = await initializeCollections(Tezos, userAddress, wallet);
		store.updateCollections(collections);
		console.log('got collections:',collections)
	};

	const disconnectWallet = () => {
		if (wallet) {
			wallet.client.destroy();
			wallet = undefined;
			userAddress = undefined;
		}
	};

	const connectNano = async () => {
		const transport = await TransportU2F.create();
		const ledgerSigner = new LedgerSigner(
			transport, //required
			HDPathTemplate(0), // path optional (equivalent to "44'/1729'/1'/0'")
			true, // prompt optional
			DerivationType.ED25519 // derivationType optional
		);
		Tezos.setProvider({ signer: ledgerSigner });
		//Get the public key and the public key hash from the Ledger
		const publicKeyHash = await Tezos.signer.publicKeyHash();
		if (publicKeyHash) {
			userAddress = await wallet.getPKH();
			collections = await initializeCollections(Tezos, userAddress, wallet);
		}
	};

	const changeNetwork = event => {
		switch (event.target.value) {
			case "mainnet":
				connectedNetwork = "mainnet";
				Tezos = new TezosToolkit(rpcUrl.mainnet);
				break;
			case "florencenet":
				connectedNetwork = "florencenet";
				Tezos = new TezosToolkit(rpcUrl.florencenet);
				break;
			case "granadanet":
				connectedNetwork = "granadanet";
				Tezos = new TezosToolkit(rpcUrl.granadanet);
				break;
			case "hangzhounet":
				connectedNetwork = "hangzhounet";
				Tezos = new TezosToolkit(rpcUrl.hangzhounet);
				break;
		}
	};

	const changeMatrixNode = event => {
	switch (event.target.value) {
	  case "default":
		defaultMatrixNode === "beacon-node-1.sky.papers.tech";
		break;
	  case "taquito":
		defaultMatrixNode === "matrix.tez.ie";
		break;
	}
	};

	onMount(async () => {
		Tezos = new TezosToolkit(rpcUrl[connectedNetwork]);

		initialLoading = false;
		let networkType = NetworkType.MAINNET;
		if (!wallet) {
			// instantiates the wallet
			wallet = new BeaconWallet(
				disableDefaultEvents
					? {
						name: "Beacon Test Dapp",
						matrixNodes: [defaultMatrixNode] as any,
						preferredNetwork: networkType,
						// disableDefaultEvents: true, // Disable all events / UI. This also disables the pairing alert.
						disableDefaultEvents: true, // Disable all events / UI. This also disables the pairing alert.
						eventHandlers: {
							// To keep the pairing alert, we have to add the following default event handlers back
							[BeaconEvent.PAIR_INIT]: {
								handler: defaultEventCallbacks.PAIR_INIT
							},
							[BeaconEvent.PAIR_SUCCESS]: {
								handler: defaultEventCallbacks.PAIR_SUCCESS
							}
						}
					}
					: {
					  name: "Beacon Test Dapp",
					  matrixNodes: [defaultMatrixNode] as any,
					  preferredNetwork: networkType
					}
			);
			// Tezos.setWalletProvider(wallet);
		}
		Tezos.setProvider({wallet});
		const activeAccount = await wallet.client.getActiveAccount();
		if (activeAccount) {
			// If defined, the user is connected to a wallet.
			// You can now do an operation request, sign request, or send another permission request to switch wallet
			console.log("Already connected:", activeAccount.address);
			userAddress = activeAccount.address;
			initBeacon()
		}
	});

	onDestroy(disconnectWallet);
</script>

<style lang="scss">
  header {
	  margin-top: 2rem;
	  
	  h1 {
		  font-size: 3.5rem;
	  }
	  h2 {
		  font-size: 2.5rem;
	  }
  }
</style>

<div class="container">
  {#if userAddress}
    <header>
      <h1 class="title">Objkt.com <span style="display:inline-block">Bulk Minter</span></h1>
	  <h2>Just a test</h2>
	  <p> Use the browser console to monitor success/failure </p>
      <div
        class="box address"
      >
        <div>
          Connected as {userAddress.slice(0, 7)}...{userAddress.slice(-7)}
        </div>
        <div>
          <button
            class="blue"
            on:click={() => {
              if (wallet) {
                disconnectWallet();
              } else {
                userAddress = "";
              }
            }}>Disconnect</button
          >
        </div>
      </div>
    </header>
  {:else}
    <div />
  {/if}
  <main class:connected={userAddress} class:disconnected={!userAddress}>
    {#if initialLoading}
      <div class="box connect">Loading</div>
    {:else}
      <!--User is logged in-->
      {#if userAddress}
        <div>
			<!-- 
			<div>
				<label for="mint_count">Mints</label>
				<p> How many different artworks are you minting? </p>
				<input type="number" bind:value={mintCount} name="mint_count" /> 
			</div>
			-->
			{#each Array(mintCount) as _, i}
				<MintBox mintIndex={i} bind:mint={mints[i]} Tezos={Tezos} />
				mint data: <pre>{JSON.stringify(mints[i],null,2)}</pre>
			{/each}
			
        </div>
      {:else}
        <div class="box connect">
          <div>Welcome to the <br /> Beacon Test Dapp</div>
          <br />
          <button class="blue main" on:click={initBeacon}>
            <i class="fas fa-wallet" />
            Connect your wallet
          </button>
          <br />
          <!--<button class="blue secondary" on:click={connectNano}>
            <i class="fab fa-usb" />
            Connect your Nano Ledger
          </button>
          <br />-->
          <br />
          <div>
            <label>
              <span class="select-title">RPC node:</span>
              <select
                bind:value={connectedNetwork}
                on:change={changeNetwork}
                on:blur={changeNetwork}
              >
                <option value="mainnet" >Mainnet</option>
              </select>
            </label>
          </div>
          <div>
            <label>
              <span class="select-title">Disable default events:</span>
              <input type="checkbox" bind:checked={disableDefaultEvents} />
            </label>
          </div>
        </div>
      {/if}
    {/if}
  </main>
  <footer id="taquito-version">
    <div />
    <div>
      Taquito version: {Tezos ? Tezos.getVersionInfo().version : "N/A"}
    </div>
  </footer>
</div>
